<%- include("partials/header.ejs") %>

<div
  class="inner-wrapper"
>
  <div
    id="home-section"
    class="hero-scroll-wrap"
  >
    <section id="hero-section" class="hero-section">
      <div
        data-poster-url="images/672efac2246fb2721f231c45-2f6731d087d72f20b477603983_18069166-hd_1280_720_24fps-poster-00001.jpg"
        data-video-urls="images/672efac2246fb2721f231c45-2f6731d087d72f20b477603983_18069166-hd_1280_720_24fps-transcode.mp4,images/672efac2246fb2721f231c45-2f6731d087d72f20b477603983_18069166-hd_1280_720_24fps-transcode.webm"
        data-autoplay="true"
        data-loop="true"
        data-wf-ignore="true"
        class="background-video w-background-video w-background-video-atom"
      >
        <video
          id="e9bbd769-e310-ea61-7e59-7e7101faf187-video"
          autoplay=""
          loop=""
          style="
            background-image: url('images/672efac2246fb2721f231c45-2f6731d087d72f20b477603983_18069166-hd_1280_720_24fps-poster-00001.jpg');
          "
          muted=""
          playsinline=""
          data-wf-ignore="true"
          data-object-fit="cover"
        >
          <source
            src="images/672efac2246fb2721f231c45-2f6731d087d72f20b477603983_18069166-hd_1280_720_24fps-transcode.mp4"
            data-wf-ignore="true"
          />
          <source
            src="images/672efac2246fb2721f231c45-2f6731d087d72f20b477603983_18069166-hd_1280_720_24fps-transcode.webm"
            data-wf-ignore="true"
          />
        </video>
      </div>
      <div
        data-poster-url="images/672efac2246fb2721f231c45-2f6740b7f905ea6f7a924e2724_18069164-hd_720_1280_24fps-poster-00001.jpg"
        data-video-urls="images/672efac2246fb2721f231c45-2f6740b7f905ea6f7a924e2724_18069164-hd_720_1280_24fps-transcode.mp4,images/672efac2246fb2721f231c45-2f6740b7f905ea6f7a924e2724_18069164-hd_720_1280_24fps-transcode.webm"
        data-autoplay="true"
        data-loop="true"
        data-wf-ignore="true"
        class="background-video-mobile w-background-video w-background-video-atom"
      >
        <video
          id="b912f5b2-c4a3-ab39-99ce-49734b85f20e-video"
          autoplay=""
          loop=""
          style="
            background-image: url('images/672efac2246fb2721f231c45-2f6740b7f905ea6f7a924e2724_18069164-hd_720_1280_24fps-poster-00001.jpg');
          "
          muted=""
          playsinline=""
          data-wf-ignore="true"
          data-object-fit="cover"
        >
          <source
            src="images/672efac2246fb2721f231c45-2f6740b7f905ea6f7a924e2724_18069164-hd_720_1280_24fps-transcode.mp4"
            data-wf-ignore="true"
          />
          <source
            src="images/672efac2246fb2721f231c45-2f6740b7f905ea6f7a924e2724_18069164-hd_720_1280_24fps-transcode.webm"
            data-wf-ignore="true"
          />
        </video>
      </div>
      <div class="hero-overlay-left">
        <div class="hero-text-wrap">
          <div
            class="hero-subheading text-align-left"
          >
            We are curators at
          </div>
          <h1
            class="hero-heading"
          >
            QuoteHub
          </h1>
          <div class="space-small"></div>
          <div
            class="hero-text line-height-small"
          >
            From book to wisdom — knowledge with the power to enlighten minds
          </div>
        </div>
        <div
          class="hero-team"
        >
          <div class="avator-image-wrap">
            <div class="team-hero-wrap">
              <img
                src="images/71kAfVXNphL._AC_UF1000,1000_QL80_600.jpg"
                loading="lazy"
                width="Auto"
                sizes="(max-width: 479px) 40vw, 60px"
                alt=""
                srcset="
                  images/71kAfVXNphL._AC_UF1000,1000_QL80_500.jpg 500w,
                  images/71kAfVXNphL._AC_UF1000,1000_QL80_600.jpg 600w
                "
                class="profile-picture"
              /><img
                src="images/71BrpG2eESL._SL1220_600.jpg"
                loading="lazy"
                width="Auto"
                sizes="(max-width: 479px) 40vw, 60px"
                alt=""
                srcset="
                  images/71BrpG2eESL._SL1220_500.jpg 500w,
                  images/71BrpG2eESL._SL1220_600.jpg 600w
                "
                class="profile-picture profile-picture-margin-left"
              /><img
                src="images/811Q+Ij6h0L._AC_UF894,1000_QL80_600.jpg"
                loading="lazy"
                width="Auto"
                sizes="(max-width: 479px) 40vw, 60px"
                alt=""
                srcset="
                  images/811Q+Ij6h0L._AC_UF894,1000_QL80_500.jpg 500w,
                  images/811Q+Ij6h0L._AC_UF894,1000_QL80_600.jpg 600w
                "
                class="profile-picture profile-picture-margin-left"
              /><img
                src="images/9780735211292_p0_v30_600.jpg"
                loading="lazy"
                width="Auto"
                sizes="(max-width: 479px) 40vw, 60px"
                alt=""
                srcset="
                  images/9780735211292_p0_v30_500.jpg 500w,
                  images/9780735211292_p0_v30_600.jpg 600w
                "
                class="profile-picture profile-picture-margin-left"
              />
            </div>
            <a
              href="#team-section"
              class="team-button w-inline-block"
              ><div
                class="team-arrow-icon w-embed"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--ic"
                  width="100%"
                  height="100%"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="m20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8z"
                  ></path>
                </svg></div
            ></a>
          </div>
          <div class="text-small font-weight-normal">Explore Our Favorite Reads</div>
        </div>
      </div>
      <div class="hero-overlay-right">
        <div class="sticky-corner-right-top w-embed">
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
              fill="#fcfcfc"
            />
          </svg>
        </div>
        <div class="sticky-corner-right w-embed">
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
              fill="white"
            />
          </svg>
        </div>
        <div class="sticky-corner-right-bottom w-embed">
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
              fill="#fcfcfc"
            />
          </svg>
        </div>
        <div class="sticky-block-right-top">
          <h2
            class="hero-subheading-large"
          >
            Sharing ideas that inspire
          </h2>
        </div>
        <div class="sticky-block-bottom"></div>
      </div>
    </section>
  </div>
  <section id="service-section" class="service-section">
    <div id="service-container" class="container">
      <div class="title-wrap title-wrap-large">
        <div class="part">
          <div
            class="section-title-subheading"
          >
            Reading Vault
          </div>
          <span class="separator">⋅</span>
          <div class="dropdown">
            <p class="dropdown-toggle">Sort Options</p>
            <div class="dropdown-menu">
              <a href="/?sort=title">Title</a>
              <a href="/?sort=newest">Newest</a>
              <a href="/?sort=best">Best</a>
            </div>
          </div>
          <span class="separator">⋅</span>
          <div class="dropdown">
            <a href="/new" class="dropdown-toggle">Add Book</a>
          </div>
        </div>
        <div class="space-small"></div>
        <h2
          class="section-title"
        >
          EXPLORE OUR COMPLETE RECORD
        </h2>
      </div>
      <div class="space-medium"></div>
      <div
        class="services-accordion"
      >
        <% books.forEach((book, index) => { %>
          <div class="service-item">
            <div
              class="services-item"
            >
              <div
                class="services-top"
              >
                <div class="w-layout-grid services-grid">
                  <div
                    class="services-grid-first"
                  >
                    <div class="text-small font-weight-normal"><%= String(index + 1).padStart(2, '0') %></div>
                  </div>
                  <div
                    class="services-grid-second"
                  >
                    <div class="service-title-flex">
                      <h2 class="service-title"><%= book.book_name %></h2>
                      <div class="service-title-subheading">
                        <%= book.author_name %>
                      </div>
                    </div>
                    <div class="service-image-base">
                    </div>
                  </div>
                  <div
                    class="services-grid-third"
                  >
                    <div class="service-toggle">
                      <div class="service-toggle-icon w-embed">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="iconify iconify--iconoir plus-icon" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 12h12M12 6v12"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="iconify iconify--iconoir minus-icon" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 12h12"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="services-bottom">
                <div class="services-bottom-padding">
                  <div class="services-bottom-left">
                    <div class="text-medium line-height-small">
                      <%= book.opinion %>
                    </div>
                  </div>
                  <div class="services-bottom-right">
                    <div class="w-layout-grid services-bottom-grid">
                      <div
                        class="service-list"
                      >
                        <div class="service-bullet-icon w-embed">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            aria-hidden="true"
                            role="img"
                            class="iconify iconify--carbon"
                            width="100%"
                            height="100%"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 32 32"
                          >
                            <circle
                              cx="16"
                              cy="16"
                              r="8"
                              fill="currentColor"
                            ></circle>
                          </svg>
                        </div>
                        <div class="text-medium">
                          <%= `Date read: ${book.date_read}` %>
                        </div>
                      </div>
                      <div
                        class="service-list"
                      >
                        <div class="service-bullet-icon w-embed">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            aria-hidden="true"
                            role="img"
                            class="iconify iconify--carbon"
                            width="100%"
                            height="100%"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 32 32"
                          >
                            <circle
                              cx="16"
                              cy="16"
                              r="8"
                              fill="currentColor"
                            ></circle>
                          </svg>
                        </div>
                        <div class="text-medium">
                          <%= `Identifier: ${book.key}` %>
                        </div>
                      </div>
                      <div
                        class="service-list"
                      >
                        <div class="service-bullet-icon w-embed">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            aria-hidden="true"
                            role="img"
                            class="iconify iconify--carbon"
                            width="100%"
                            height="100%"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 32 32"
                          >
                            <circle
                              cx="16"
                              cy="16"
                              r="8"
                              fill="currentColor"
                            ></circle>
                          </svg>
                        </div>
                        <div class="text-medium"><%= `Rating: ${book.rating}/10` %></div>
                      </div>
                      <div
                        class="service-list"
                      >
                        <div class="service-bullet-icon w-embed">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            aria-hidden="true"
                            role="img"
                            class="iconify iconify--carbon"
                            width="100%"
                            height="100%"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 32 32"
                          >
                            <circle
                              cx="16"
                              cy="16"
                              r="8"
                              fill="currentColor"
                            ></circle>
                          </svg>
                        </div>
                        <div class="text-medium"><%= `Code: ${book.value}` %></div>
                      </div>
                      <div
                        class="service-list"
                      >
                        <div class="service-bullet-icon w-embed">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            aria-hidden="true"
                            role="img"
                            class="iconify iconify--carbon"
                            width="100%"
                            height="100%"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 32 32"
                          >
                            <circle
                              cx="16"
                              cy="16"
                              r="8"
                              fill="currentColor"
                            ></circle>
                          </svg>
                        </div>
                        <div class="text-medium">
                          <a href="<%= book.amazon_link %>" target="_blank">Amazon page</a>
                        </div>
                      </div>
                      <div
                        class="service-list"
                      >
                        <div class="service-bullet-icon w-embed">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            aria-hidden="true"
                            role="img"
                            class="iconify iconify--carbon"
                            width="100%"
                            height="100%"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 32 32"
                          >
                            <circle
                              cx="16"
                              cy="16"
                              r="8"
                              fill="currentColor"
                            ></circle>
                          </svg>
                        </div>
                        <div class="text-medium">
                          <a href="/book/<%= book.id %>">Read notes</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </section>
  <section id="about-section" class="about-section">
    <div class="container">
      <div class="title-wrap title-wrap-large">
        <div
          class="section-title-subheading"
        >
          Who We Are
        </div>
        <div class="space-small"></div>
        <h2
          class="section-title"
        >
          We are a community sharing top book notes and ratings
        </h2>
      </div>
      <div class="space-medium"></div>
      <div class="about-wrap">
        <div class="about-innerwrap-left">
          <div class="about-story-wrap">
            <div
              class="section-title-subheading"
            >
              Our story
            </div>
            <div class="space-small"></div>
            <div
              class="text-medium line-height-small"
            >
              We share a passion for reading, offering a dynamic platform where users can explore, discover, rate, and save their favorite quotes and insightful book notes.
            </div>
          </div>
          <div
            class="about-circle-wrap"
          >
            <div class="about-icon-wrap">
              <img
                src="images/archor-logo.svg"
                loading="lazy"
                alt=""
                class="about-icon-image"
              />
            </div>
            <div
              class="about-round-text w-embed"
            >
              <svg viewBox="0 0 100 100" width="100%" height="100%">
                <defs>
                  <path
                    id="circle"
                    d="
  M 50, 50
  m -37, 0
  a 37,37 0 1,1 74,0
  a 37,37 0 1,1 -74,0"
                  />
                </defs>
                <text>
                  <textPath xlink:href="#circle">
                    Share • Idea • Discover • Insight •
                  </textPath>
                </text>
              </svg>
            </div>
          </div>
        </div>
        <div
          class="about-innerwrap-middle"
        >
          <div class="about-sticky-block-left-bottom"></div>
          <div class="about-image-wrap"></div>
          <div class="about-sticky-corner-left-top w-embed">
            <svg
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                fill="#fcfcfc"
              />
            </svg>
          </div>
          <div class="about-sticky-corner-left-bottom w-embed">
            <svg
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                fill="#fcfcfc"
              />
            </svg>
          </div>
        </div>
        <div class="about-innerwrap-right">
          <div
            class="about-number-wrap"
          >
            <div class="about-number-wrap-top">
              <div class="about-number-text">10</div>
              <div class="about-number-icon">+</div>
            </div>
            <div class="text-medium about-number-info">
              years experience
            </div>
          </div>
          <div
            class="about-number-wrap"
          >
            <div class="about-number-wrap-top">
              <div class="about-number-text">500</div>
              <div class="about-number-icon">+</div>
            </div>
            <div class="text-medium about-number-info">Books reviewed</div>
          </div>
          <div
            class="about-number-wrap"
          >
            <div class="about-number-wrap-top">
              <div class="about-number-text">1400</div>
              <div class="about-number-icon">+</div>
            </div>
            <div class="text-medium about-number-info">Happy readers</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="team-section" class="team-section">
    <div class="container">
      <div class="title-wrap title-wrap-large">
        <div
          class="section-title-subheading"
        >
          Our Selection
        </div>
        <div class="space-small"></div>
        <h2
          class="section-title"
        >
          Must-read non-fiction books
        </h2>
      </div>
      <div class="space-medium"></div>
      <div
        class="w-layout-grid team-grid"
      >
        <a href="/book/5" class="clickable-div">
          <div
            class="team-grid-wrap"
          >
            <img
              src="images/61NiGBCRxUL._AC_UF1000,1000_QL80_.jpg"
              loading="lazy"
              alt=""
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 760.171875px, (max-width: 991px) 99vw, (max-width: 1439px) 82vw, 87vw"
              srcset="
                images/61NiGBCRxUL._AC_UF1000,1000_QL80-p-500.jpg 500w,
                images/61NiGBCRxUL._AC_UF1000,1000_QL80_.jpg      800w
              "
              class="team-image-avator"
            />
            <div class="team-sticky-block-left-bottom">
              <div class="text-medium font-weight-normal team-member">
                Pema Chödrön
              </div>
              <div
                class="text-medium font-weight-normal color-grey team-member"
              >
              The Wisdom of No Escape
              </div>
            </div>
            <div class="team-sticky-corner-left-top w-embed">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                  fill="#fcfcfc"
                />
              </svg>
            </div>
            <div class="team-sticky-corner-right-bottom w-embed">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                  fill="#fcfcfc"
                />
              </svg>
            </div>
          </div>
        </a>  
        <a href="/book/6" class="clickable-div">
          <div
              class="team-grid-wrap"
            >
              <img
                src="images/9780735211292_p0_v30_s1200x1200.jpg"
                loading="lazy"
                alt=""
                sizes="(max-width: 479px) 93vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, (max-width: 1439px) 100vw, 87vw"
                srcset="
                  images/9780735211292_p0_v30_s1200x1200-p-500.jpg 500w,
                  images/9780735211292_p0_v30_s1200x1200.jpg       800w
                "
                class="team-image-avator"
              />
              <div class="team-sticky-block-left-bottom">
                <div class="text-medium font-weight-normal team-member">
                  James Clear
                </div>
                <div
                  class="text-medium font-weight-normal color-grey team-member"
                >
                  Atomic Habits
                </div>
              </div>
              <div class="team-sticky-corner-left-top w-embed">
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                    fill="#fcfcfc"
                  />
                </svg>
              </div>
              <div class="team-sticky-corner-right-bottom w-embed">
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                    fill="#fcfcfc"
                  />
                </svg>
              </div>
            </div>
        </a>
        <a href="/book/7" class="clickable-div">
          <div
            class="team-grid-wrap"
          >
            <img
              src="images/71kAfVXNphL._AC_UF1000,1000_QL80_.jpg"
              loading="lazy"
              alt=""
              sizes="(max-width: 479px) 93vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, (max-width: 1439px) 100vw, 87vw"
              srcset="
                images/71kAfVXNphL._AC_UF1000,1000_QL80-p-500.jpg 500w,
                images/71kAfVXNphL._AC_UF1000,1000_QL80_.jpg       800w
              "
              class="team-image-avator"
            />
            <div class="team-sticky-block-left-bottom">
              <div class="text-medium font-weight-normal team-member">
                Darren Hardy
              </div>
              <div
                class="text-medium font-weight-normal color-grey team-member"
              >
                The Entrepreneur Roller Coaster
              </div>
            </div>
            <div class="team-sticky-corner-left-top w-embed">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                  fill="#fcfcfc"
                />
              </svg>
            </div>
            <div class="team-sticky-corner-right-bottom w-embed">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                  fill="#fcfcfc"
                />
              </svg>
            </div>
          </div>
        </a>
        <a href="/book/8" class="clickable-div">
          <div
            class="team-grid-wrap"
          >
            <img
              src="images/811Q+Ij6h0L._AC_UF894,1000_QL80_.jpg"
              loading="lazy"
              alt=""
              sizes="(max-width: 479px) 93vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, (max-width: 1439px) 100vw, 87vw"
              srcset="
                images/811Q+Ij6h0L._AC_UF894,1000_QL80-p-500.jpg 500w,
                images/811Q+Ij6h0L._AC_UF894,1000_QL80_.jpg     800w
              "
              class="team-image-avator"
            />
            <div class="team-sticky-block-left-bottom">
              <div class="text-medium font-weight-normal team-member">
                Morgan Housel
              </div>
              <div
                class="text-medium font-weight-normal color-grey team-member"
              >
                The Psychology of Money
              </div>
            </div>
            <div class="team-sticky-corner-left-top w-embed">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                  fill="#fcfcfc"
                />
              </svg>
            </div>
            <div class="team-sticky-corner-right-bottom w-embed">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                  fill="#fcfcfc"
                />
              </svg>
            </div>
          </div>
        </a>
        <a href="/book/9" class="clickable-div">
          <div
            class="team-grid-wrap"
          >
            <img
              src="images/71BrpG2eESL._SL1220_.jpg"
              loading="lazy"
              alt=""
              sizes="(max-width: 479px) 93vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, (max-width: 1439px) 100vw, 87vw"
              srcset="
                images/71BrpG2eESL._SL1220-p-500.jpg 500w,
                images/71BrpG2eESL._SL1220_.jpg       800w
              "
              class="team-image-avator"
            />
            <div class="team-sticky-block-left-bottom">
              <div class="text-medium font-weight-normal team-member">
                Lawrence Cohen
              </div>
              <div
                class="text-medium font-weight-normal color-grey team-member"
              >
                Playful Parenting
              </div>
            </div>
            <div class="team-sticky-corner-left-top w-embed">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                  fill="#fcfcfc"
                />
              </svg>
            </div>
            <div class="team-sticky-corner-right-bottom w-embed">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                  fill="#fcfcfc"
                />
              </svg>
            </div>
          </div>
        </a>
        <a href="/book/10" class="clickable-div">
          <div
            class="team-grid-wrap"
          >
            <img
              src="images/71OVB8HknWL._AC_UF894,1000_QL80_.jpg"
              loading="lazy"
              alt=""
              sizes="(max-width: 479px) 93vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, (max-width: 1439px) 100vw, 87vw"
              srcset="
                images/71OVB8HknWL._AC_UF894,1000_QL800-p-500.jpg 500w,
                images/71OVB8HknWL._AC_UF894,1000_QL80_.jpg       800w
              "
              class="team-image-avator"
            />
            <div class="team-sticky-block-left-bottom">
              <div class="text-medium font-weight-normal team-member">
                Jordan Peterson
              </div>
              <div
                class="text-medium font-weight-normal color-grey team-member"
              >
                12 Rules for Life
              </div>
            </div>
            <div class="team-sticky-corner-left-top w-embed">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                  fill="#fcfcfc"
                />
              </svg>
            </div>
            <div class="team-sticky-corner-right-bottom w-embed">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z"
                  fill="#fcfcfc"
                />
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

<%- include('partials/footer.ejs') %>